.questionsCard--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1350px;
  margin: 2rem auto;
  border: 1px solid rgb(172, 171, 171, 0.5);
  box-shadow: 0 0 15px 2px rgba(172, 171, 171, 0.2);
}

.questionsCard--progress {
  padding: 1.5rem 1rem;
  border-bottom: 1px solid rgb(172, 171, 171, 0.5);
  font-size: 0.85rem;
  font-weight: 300;
}

.questionsCard--question-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 4rem;
}

.questionsCard--question-number {
  color: #f79b44;
  font-size: 0.9rem;
  font-weight: 600;
}

.questionsCard--question {
  padding-left: 0.5rem;
  width: 60%;
  font-size: 0.7rem;
}

.questionsCard--question-text {
  font-weight: 500;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

.questionsCard--question-review-text {
  font-size: 0.7rem;
  font-weight: 300;
  text-align: center;
}

.questionsCard--finish-container {
  display: flex;
  justify-content: center;
  padding-bottom: 1.5rem;
  width: 100%;
}
